a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-family: PingFangSC-Light, HanHei SC, Helvetica Neue, Helvetica, STHeitiSC-Light, Arial, Microsoft YaHei, sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  background: rgb(248, 248, 248) none repeat scroll 0% 0%;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
caption, td, th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}
blockquote, q {
  quotes: none;
}
blockquote::after, blockquote::before, q::after, q::before {
  content: none;
}
a img {
  border: medium none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}